@use "./utilities/index.scss";
@import "./tokens/index.css";



html, body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-base);
  font-family: system-ui, sans-serif;
}
