
@forward 'variables';
@forward 'mixins';
@forward 'buttons';

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
}
