@use './mixins';

.card {
  @include mixins.card-base;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  transition: 0.15s ease;

  &:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
  }
}
